# **Project 2**
Seung Min Song, Krutika Patel<br>

03/05/2024

# **Data Source**

* https://www.kaggle.com/datasets/andrewmvd/data-scientist-jobs

# **Data Set**

In [70]:

import pandas as pd

# Load dataset

ds = pd.read_csv('https://raw.githubusercontent.com/seung-m1nsong/620/main/Project2/DataScientist.csv')

ds.head()

IncompleteRead: IncompleteRead(14693376 bytes read, 264240 more expected)

# **Data Wrangling**

In [ ]:
ds = ds.drop(ds.columns[0], axis=1)

In [ ]:
ds['Salary Estimate'] = ds['Salary Estimate'].apply(lambda x: x.replace(' (Glassdoor est.)', ''))
ds.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,Senior Data Scientist,$111K-$181K,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,"Data Scientist, Product Analytics",$111K-$181K,"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,Data Science Manager,$111K-$181K,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,Data Analyst,$111K-$181K,Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,"Director, Data Science",$111K-$181K,"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

In [ ]:
ds_df = ds[['Job Title', 'Salary Estimate', 'Location']].copy()
ds_df.head()

                           Job Title Salary Estimate       Location
0              Senior Data Scientist     $111K-$181K   New York, NY
1  Data Scientist, Product Analytics     $111K-$181K   New York, NY
2               Data Science Manager     $111K-$181K   New York, NY
3                       Data Analyst     $111K-$181K  Lyndhurst, NJ
4             Director, Data Science     $111K-$181K   New York, NY

Get information about the filtered DataFrame

In [ ]:
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        3909 non-null   object
 1   Salary Estimate  3909 non-null   object
 2   Location         3909 non-null   object
dtypes: object(3)
memory usage: 91.7+ KB

# Create data frame

In [ ]:
# Create a data frame containing only the 'Job Title' and 'Salary Estimate' columns
ds_job_salary_df = ds_df[['Job Title', 'Salary Estimate','Location']].copy()

# Create a data frame containing only the ‘Job Title’ and ‘Location’ columns.
ds_job_location_df = ds_df[['Job Title', 'Location']].copy()

# result
print("Job Title & Salary Estimate:")
print(ds_job_salary_df.head())
#print("\nJob Title & Location:")
#print(ds_job_location_df.head())

Job Title & Salary Estimate:
                           Job Title Salary Estimate       Location
0              Senior Data Scientist     $111K-$181K   New York, NY
1  Data Scientist, Product Analytics     $111K-$181K   New York, NY
2               Data Science Manager     $111K-$181K   New York, NY
3                       Data Analyst     $111K-$181K  Lyndhurst, NJ
4             Director, Data Science     $111K-$181K   New York, NY

In [ ]:
nt = pd.DataFrame({'Source': ds_job_salary_df['Job Title'], 'Target': ds_job_salary_df['Salary Estimate']})
print(nt.head())

                              Source       Target
0              Senior Data Scientist  $111K-$181K
1  Data Scientist, Product Analytics  $111K-$181K
2               Data Science Manager  $111K-$181K
3                       Data Analyst  $111K-$181K
4             Director, Data Science  $111K-$181K

In [ ]:
nt['weight'] = nt.groupby(['Source', 'Target'])['Source'].transform('size')
nt = nt.dropna()

G = nx.from_pandas_edgelist(nt, 'Source', 'Target',
                            create_using=nx.DiGraph(), edge_attr='weight')
nt

#nt.to_csv('nt1.csv', index=False)

                                                 Source       Target  weight
0                                 Senior Data Scientist  $111K-$181K       1
1                     Data Scientist, Product Analytics  $111K-$181K       1
2                                  Data Science Manager  $111K-$181K       1
3                                          Data Analyst  $111K-$181K       1
4                                Director, Data Science  $111K-$181K       1
...                                                 ...          ...     ...
3904                                  AWS Data Engineer   $55K-$112K       1
3905                              Data Analyst â Junior   $55K-$112K       1
3906                   Security Analytics Data Engineer   $55K-$112K       2
3907                   Security Analytics Data Engineer   $55K-$112K       2
3908  Patient Safety Physician or Safety Scientist -...   $55K-$112K       1

[3909 rows x 3 columns]

In [ ]:
node_sizes = nt.groupby('Source').weight.agg(sum)
n = node_sizes.add_suffix('').reset_index()
top_15 =n.sort_values(by='weight', ascending=False).head(15)
print(top_15)

                             Source  weight
656                  Data Scientist    2886
376                    Data Analyst    1064
498                   Data Engineer    1052
1707          Senior Data Scientist     267
166               Big Data Engineer     109
1148      Machine Learning Engineer      81
1674            Senior Data Analyst      79
1686           Senior Data Engineer      65
227   Business Intelligence Analyst      57
1559                      Scientist      35
1485             Research Scientist      32
1116            Lead Data Scientist      29
1938             Sr. Data Scientist      29
1657       Senior Big Data Engineer      27
607                    Data Modeler      23

In [ ]:
import networkx as nx

G = nx.from_pandas_edgelist(nt, 'Source', 'Target', ['weight'])
print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges())
print("Average degree:", sum(dict(G.degree()).values()) / G.number_of_nodes())

Number of nodes: 2227
Number of edges: 3140
Average degree: 2.819937135159407

In [ ]:
# Compute the degree centrality of G: deg_cen
deg_cen = nx.degree_centrality(G)
sorted_deg_cen=sorted(deg_cen.items(), key=lambda x:x[1], reverse=True)

top_10_degree = sorted_deg_cen[:10]
bottom_10_degree = sorted_deg_cen[-10:]

print("Top 10 nodes by eigenvector centrality:")
for node, value in top_10_degree:
    print(f"{node}: {value}")

print("\nBottom 10 nodes by eigenvector centrality:")
for node, value in bottom_10_degree:
    print(f"{node}: {value}")

In [ ]:
import numpy as np


# Convert degree centrality values ​​to a list
degree_centrality_values = [value for node, value in deg_cen.items()]

# Calculate the average, maximum, minimum, and median of degree centrality values
mean_degree_centrality = np.mean(degree_centrality_values)
max_degree_centrality = np.max(degree_centrality_values)
min_degree_centrality = np.min(degree_centrality_values)
median_degree_centrality = np.median(degree_centrality_values)

print(f"Mean Degree Centrality: {mean_degree_centrality}")
print(f"Max Degree Centrality: {max_degree_centrality}")
print(f"Min Degree Centrality: {min_degree_centrality}")
print(f"Median Degree Centrality: {median_degree_centrality}")

Mean Degree Centrality: 0.0012668181200177035
Max Degree Centrality: 0.04402515723270441
Min Degree Centrality: 0.0004492362982929021
Median Degree Centrality: 0.0004492362982929021

In [71]:
import networkx as nx

G = nx.from_pandas_edgelist(nt, 'Source', 'Target', ['weight'])

# Exclude nodes with degree centrality below the median
nodes_to_remove = [n for n, centrality in deg_cen.items() if centrality <= median_degree_centrality]
G.remove_nodes_from(nodes_to_remove)

print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges())
print("Average degree:", sum(dict(G.degree()).values()) / G.number_of_nodes())

Number of nodes: 433
Number of edges: 1347
Average degree: 6.221709006928407

In [73]:
from pyvis.network import Network

net = Network(notebook=True)

for n in G.nodes():
    if n in nt['Source'].tolist():
        color = 'skyblue'
    elif n in nt['Target'].tolist():
        color = 'indianred'
    else:
        continue

    # set size based on degree (number of edges)
    size = 5 + 1.5 * G.degree(n)  # adjust the multiplier for desired size scaling
    net.add_node(n, label=n, color=color, size=size)

# add edges
for edge in G.edges():
    if edge[0] in net.get_nodes() and edge[1] in net.get_nodes():
        net.add_edge(edge[0], edge[1], color='gray')  # Set edge color to black

# show buttons for filtering nodes
net.show_buttons(filter_=['nodes'])
net.save_graph('JS_filtered.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.

In [65]:
from pyvis.network import Network

net = Network(notebook=True)

for n in G.nodes():
    if n in nt['Source'].tolist():
        color = 'skyblue'
    elif n in nt['Target'].tolist():
        color = 'indianred'
    else:
        continue

    # set size based on degree (number of edges)
    size = 5 + 1.5 * G.degree(n)  # adjust the multiplier for desired size scaling
    net.add_node(n, label=n, color=color, size=size)

# add edges
for edge in G.edges():
    if edge[0] in net.get_nodes() and edge[1] in net.get_nodes():
        net.add_edge(edge[0], edge[1])


# show buttons for filtering nodes
net.show_buttons(filter_=['nodes'])
net.save_graph('JS.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.

In [127]:
# A function that outputs 10 neighbors in the order of highest weight between specific nodes (names) in network G

def find_ten_closest(G, name):  
    neighbors_list = list(G.neighbors(f"{name}"))
    
    temp_dict = {}
    for n in neighbors_list:
        if G.has_edge(f"{name}", n):
            weight = G.edges[f"{name}", n]['weight']
            temp_dict[n] = weight
    
    sorted_list = sorted(temp_dict.items(), key=(lambda x:x[1]), reverse=True)
    for n, w in sorted_list[0:10]:  # 1~10위
        print(f'{n}:  {w}')

# Output the top 10 people closest to 'Jon-Snow' and their weight
find_ten_closest(G, 'Jon-Snow')

Jeor-Mormont:  81
Samwell-Tarly:  81
Bran-Stark:  56
Tyrion-Lannister:  56
Robb-Stark:  53
Pypar:  45
Benjen-Stark:  41
Eddard-Stark:  38
Arya-Stark:  37
Aemon-Targaryen-(Maester-Aemon):  34