# **Project 2**
Seung Min Song, Krutika Patel<br>

03/05/2024

1. Identify a large 2-node network dataset—you can start with a dataset in a repository.  Your data should meet the criteria that it consists of ties between and not within two (or more) distinct groups.
2. Reduce the size of the network using a method such as the island method described in chapter 4 of social network analysis.
3. What can you infer about each of the distinct groups?

# **Research Question**

* Examine how are job titles related to specific industries and salary.
* Examine the role of Data Scientist more closely.
* Filter the network using degree centrality and reduce the network by removing nodes with centrality lower than the median.

# **Data Source**

* https://www.kaggle.com/datasets/andrewmvd/data-scientist-jobs

# **Data Set**

In [1]:

import pandas as pd

# Load dataset

ds = pd.read_csv('https://raw.githubusercontent.com/seung-m1nsong/620/main/Project2/DataScientist.csv')

ds.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

# **Data Wrangling**

* Drop first columns in the  dataframe
* Remove rows where Industry column is "-1"

In [2]:
#ds = ds.drop(ds.columns[0], axis=1)
ds = ds[ds['Industry'] != "-1" ]
ds.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
5,5,5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies\n2.9,"New York, NY","Hartford, CT",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"Colony Specialty, Markel, RLI",-1

In [3]:
ds['Salary Estimate'] = ds['Salary Estimate'].apply(lambda x: x.replace(' (Glassdoor est.)', ''))
ds.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K,"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
3,3,3,Data Analyst,$111K-$181K,Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K,"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
5,5,5,Data Scientist,$111K-$181K,Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies\n2.9,"New York, NY","Hartford, CT",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"Colony Specialty, Markel, RLI",-1

In [4]:
ds_df = ds[['Job Title', 'Salary Estimate', 'Location', 'Industry']].copy()
ds_df.head()

,Job Title,Salary Estimate,Location,Industry
0,Senior Data Scientist,$111K-$181K,"New York, NY",Travel Agencies
1,"Data Scientist, Product Analytics",$111K-$181K,"New York, NY","Health, Beauty, & Fitness"
3,Data Analyst,$111K-$181K,"Lyndhurst, NJ",Internet
4,"Director, Data Science",$111K-$181K,"New York, NY",Advertising & Marketing
5,Data Scientist,$111K-$181K,"New York, NY",Insurance Carriers

Get information about the filtered DataFrame

In [5]:
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3363 entries, 0 to 3908
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        3363 non-null   object
 1   Salary Estimate  3363 non-null   object
 2   Location         3363 non-null   object
 3   Industry         3363 non-null   object
dtypes: object(4)
memory usage: 131.4+ KB

## **Create data frame**

* Job Title & Salary Estimate
  * Job Title & Salary Estimate information shows which occupation falls into which salary range.
* Job Title & Industry
  * Job Title & Industry information shows which occupations and industries are most likely to be employed.

In [6]:
# Create a data frame containing only the 'Job Title' and 'Salary Estimate' columns
ds_job_salary_df = ds_df[['Job Title', 'Salary Estimate']].copy()

# Create a data frame containing only the ‘Job Title’ and ‘Location’ columns.
ds_job_industry_df = ds_df[['Job Title', 'Industry']].copy()

# result
print("Job Title & Salary Estimate:")
print(ds_job_salary_df.head())
print("\nJob Title & Industry:")
print(ds_job_industry_df.head())

Job Title & Salary Estimate:
                           Job Title Salary Estimate
0              Senior Data Scientist     $111K-$181K
1  Data Scientist, Product Analytics     $111K-$181K
3                       Data Analyst     $111K-$181K
4             Director, Data Science     $111K-$181K
5                     Data Scientist     $111K-$181K

Job Title & Industry:
                           Job Title                   Industry
0              Senior Data Scientist            Travel Agencies
1  Data Scientist, Product Analytics  Health, Beauty, & Fitness
3                       Data Analyst                   Internet
4             Director, Data Science    Advertising & Marketing
5                     Data Scientist         Insurance Carriers

Create a network with Job Title + Salary

In [7]:
nt = pd.DataFrame({'Source': ds_job_salary_df['Job Title'], 'Target': ds_job_salary_df['Salary Estimate']})
print(nt.head())

                              Source       Target
0              Senior Data Scientist  $111K-$181K
1  Data Scientist, Product Analytics  $111K-$181K
3                       Data Analyst  $111K-$181K
4             Director, Data Science  $111K-$181K
5                     Data Scientist  $111K-$181K

In [8]:
import networkx as nx
nt['weight'] = nt.groupby(['Source', 'Target'])['Source'].transform('size')
nt = nt.dropna()

G = nx.from_pandas_edgelist(nt, 'Source', 'Target',
                            create_using=nx.DiGraph(), edge_attr='weight')
nt

#nt.to_csv('nt1.csv', index=False)

                                                 Source       Target  weight
0                                 Senior Data Scientist  $111K-$181K       1
1                     Data Scientist, Product Analytics  $111K-$181K       1
3                                          Data Analyst  $111K-$181K       1
4                                Director, Data Science  $111K-$181K       1
5                                        Data Scientist  $111K-$181K       7
...                                                 ...          ...     ...
3904                                  AWS Data Engineer   $55K-$112K       1
3905                              Data Analyst â Junior   $55K-$112K       1
3906                   Security Analytics Data Engineer   $55K-$112K       2
3907                   Security Analytics Data Engineer   $55K-$112K       2
3908  Patient Safety Physician or Safety Scientist -...   $55K-$112K       1

[3363 rows x 3 columns]

Create a network with Job Title +Industy

In [9]:
nt2 = pd.DataFrame({'source': ds_job_industry_df['Job Title'], 'target': ds_job_industry_df['Industry']})
print(nt2.head())

                              source                     target
0              Senior Data Scientist            Travel Agencies
1  Data Scientist, Product Analytics  Health, Beauty, & Fitness
3                       Data Analyst                   Internet
4             Director, Data Science    Advertising & Marketing
5                     Data Scientist         Insurance Carriers

In [10]:
nt2['weight'] = nt2.groupby(['source', 'target'])['source'].transform('size')

nt2 = nt2.dropna()

G = nx.from_pandas_edgelist(nt2, 'source', 'target',
                            create_using=nx.DiGraph(), edge_attr='weight')
nt2

,source,target,weight
0,Senior Data Scientist,Travel Agencies,1
1,"Data Scientist, Product Analytics","Health, Beauty, & Fitness",1
3,Data Analyst,Internet,8
4,"Director, Data Science",Advertising & Marketing,1
5,Data Scientist,Insurance Carriers,4
...,...,...,...
3904,AWS Data Engineer,IT Services,2
3905,Data Analyst â Junior,IT Services,3
3906,Security Analytics Data Engineer,Staffing & Outsourcing,1
3907,Security Analytics Data Engineer,Accounting,1
3908,Patient Safety Physician or Safety Scientist -...,Biotech & Pharmaceuticals,1

## **Node Size (Job + Salary)**

Outputs a data frame showing the top 15 'Sources' with the most 'weight' associated with the same Job Title and the same Salary and their total 'weight'. This can be used to identify the most important or influential nodes in the network.

In [11]:
node_sizes = nt.groupby('Source').weight.agg(sum)
n = node_sizes.add_suffix('').reset_index()
top_15 =n.sort_values(by='weight', ascending=False).head(15)
print(top_15)

                             Source  weight
584                  Data Scientist    1846
338                    Data Analyst     783
446                   Data Engineer     667
1527          Senior Data Scientist     235
1028      Machine Learning Engineer      62
1509           Senior Data Engineer      60
1497            Senior Data Analyst      60
150               Big Data Engineer      52
202   Business Intelligence Analyst      45
1396                      Scientist      34
998             Lead Data Scientist      29
1737             Sr. Data Scientist      26
443               Data Architect II      20
540                    Data Modeler      19
1191       Principal Data Scientist      19

Outputs a data frame showing the top 15 'sources' with the most 'weight' associated with the same Job Title and the same Industry and their total 'weight'.

Number of nodes and edges for Job + Salary

In [12]:
import networkx as nx

G = nx.from_pandas_edgelist(nt, 'Source', 'Target', ['weight'])
print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges())
print("Average degree:", sum(dict(G.degree()).values()) / G.number_of_nodes())

Number of nodes: 2010
Number of edges: 2789
Average degree: 2.7751243781094526

## **Degree Centrality**

Degree centrality, indicating the number of connections a node has, can indirectly suggest the node's importance in a network. By removing nodes with low degree centrality, the network structure can be simplified, retaining only the core nodes and connections. This filtered network is advantageous for emphasizing the quality of connections, thereby enhancing the clarity of network analysis and visualization.

Degree centrality was chosen because we believed that the number of direct connections in the network was important. This is because they are looking for the most ‘popular’ or ‘active’ jobs.

Degree centrality is calculated, and nodes with a value below the median are removed, facilitating the reduction of node size.

In [13]:
# Compute the degree centrality of G: deg_cen
deg_cen = nx.degree_centrality(G)
sorted_deg_cen=sorted(deg_cen.items(), key=lambda x:x[1], reverse=True)

top_10_degree = sorted_deg_cen[:10]
bottom_10_degree = sorted_deg_cen[-10:]

print("Top 10 nodes by eigenvector centrality:")
for node, value in top_10_degree:
    print(f"{node}: {value}")

#print("\nBottom 10 nodes by eigenvector centrality:")
#for node, value in bottom_10_degree:
#    print(f"{node}: {value}")

Top 10 nodes by eigenvector centrality:
Data Engineer: 0.04579392732702837
Data Analyst: 0.03633648581383773
$111K-$175K: 0.022896963663514184
$71K-$122K: 0.020905923344947733
Senior Data Scientist: 0.02040816326530612
$93K-$151K: 0.02040816326530612
Data Scientist: 0.017421602787456445
Senior Data Analyst: 0.016923842707814832
$113K-$180K: 0.015928322548531607
Business Intelligence Analyst: 0.015430562468889995

In [14]:
import numpy as np


# Convert degree centrality values ​​to a list
degree_centrality_values = [value for node, value in deg_cen.items()]

# Calculate the average, maximum, minimum, and median of degree centrality values
mean_degree_centrality = np.mean(degree_centrality_values)
max_degree_centrality = np.max(degree_centrality_values)
min_degree_centrality = np.min(degree_centrality_values)
median_degree_centrality = np.median(degree_centrality_values)

print(f"Mean Degree Centrality: {mean_degree_centrality}")
print(f"Max Degree Centrality: {max_degree_centrality}")
print(f"Min Degree Centrality: {min_degree_centrality}")
print(f"Median Degree Centrality: {median_degree_centrality}")

Mean Degree Centrality: 0.0013813461314631425
Max Degree Centrality: 0.04579392732702837
Min Degree Centrality: 0.0004977600796416127
Median Degree Centrality: 0.0004977600796416127

In [15]:
import networkx as nx

G = nx.from_pandas_edgelist(nt, 'Source', 'Target', ['weight'])

# Exclude nodes with degree centrality below the median
nodes_to_remove = [n for n, centrality in deg_cen.items() if centrality <= median_degree_centrality]
G.remove_nodes_from(nodes_to_remove)

print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges())
print("Average degree:", sum(dict(G.degree()).values()) / G.number_of_nodes())

Number of nodes: 378
Number of edges: 1158
Average degree: 6.126984126984127

Data Sceintist has the highest weight even node size is reduced. In this dataset, Data Sceintist, Data Analyst, and Data Engineer has the most total weight.

In [16]:

node_weights = {node: sum(weight for _, _, weight in G.edges(node, data='weight')) for node in G.nodes}

top_15_nodes = sorted(node_weights.items(), key=lambda x: x[1], reverse=True)[:15]

for node, weight in top_15_nodes:
    print(f"Node: {node}, Total Weight: {weight}")

Node: Data Scientist, Total Weight: 210
Node: Data Analyst, Total Weight: 209
Node: Data Engineer, Total Weight: 207
Node: Senior Data Scientist, Total Weight: 81
Node: Senior Data Analyst, Total Weight: 42
Node: $113K-$180K, Total Weight: 41
Node: $93K-$151K, Total Weight: 40
Node: Machine Learning Engineer, Total Weight: 38
Node: Business Intelligence Analyst, Total Weight: 35
Node: Senior Data Engineer, Total Weight: 34
Node: Big Data Engineer, Total Weight: 30
Node: $111K-$175K, Total Weight: 30
Node: $119K-$147K, Total Weight: 25
Node: Lead Data Scientist, Total Weight: 23
Node: $94K-$151K, Total Weight: 23

## **Visualizaton**

Job + Salary Estimate

In [17]:
from pyvis.network import Network

net = Network(notebook=True)

node_total_weight = {node: sum(weight for _, _, weight in G.edges(node, data='weight')) for node in G.nodes()}


for n in G.nodes():
    if n == 'Data Scientist':
        color = 'green'
    elif n in nt['Source'].tolist():
        color = 'skyblue'
    elif n in nt['Target'].tolist():
        color = 'indianred'
    else:
        continue

    # set size based on degree (number of edges)
    size = 5 + (node_total_weight[n] / max(node_total_weight.values())) * 100
    net.add_node(n, label=n, color=color, size=size)

# add edges
for edge in G.edges():
    source, target = edge
    if 'Data Scientist' in [source, target]:
        edge_color = 'green'
    else:
        edge_color = 'lightgray'
    if source in net.get_nodes() and target in net.get_nodes():
        net.add_edge(source, target, color=edge_color)


# show buttons for filtering nodes
net.show_buttons(filter_=['nodes'])
net.save_graph('JS.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.

## **Node Size (Job + Industry)**

The node sizes appear to be quite large. As done previously, the degree centrality values will be calculated and any values smaller than the median will be dropped.

In [18]:
import networkx as nx

G = nx.from_pandas_edgelist(nt2, 'source', 'target', ['weight'])
print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges())
print("Average degree:", sum(dict(G.degree()).values()) / G.number_of_nodes())

Number of nodes: 1957
Number of edges: 2381
Average degree: 2.4333163004598877

In [19]:
# Compute the degree centrality of G: deg_cen
deg_cen = nx.degree_centrality(G)
sorted_deg_cen=sorted(deg_cen.items(), key=lambda x:x[1], reverse=True)

top_10_degree = sorted_deg_cen[:10]
bottom_10_degree = sorted_deg_cen[-10:]

print("Top 10 nodes by degree centrality:")
for node, value in top_10_degree:
    print(f"{node}: {value}")

#print("\nBottom 10 nodes by eigenvector centrality:")
#for node, value in bottom_10_degree:
#    print(f"{node}: {value}")

Top 10 nodes by degree centrality:
Biotech & Pharmaceuticals: 0.1395705521472393
IT Services: 0.11400817995910022
Computer Hardware & Software: 0.09458077709611452
Staffing & Outsourcing: 0.09304703476482619
Internet: 0.08282208588957056
Health Care Services & Hospitals: 0.08282208588957056
Consulting: 0.05316973415132925
Investment Banking & Asset Management: 0.04703476482617587
Enterprise Software & Network Solutions: 0.04550102249488753
Colleges & Universities: 0.033742331288343565

In [20]:
import numpy as np


# Convert degree centrality values ​​to a list
degree_centrality_values = [value for node, value in deg_cen.items()]

# Calculate the average, maximum, minimum, and median of degree centrality values
mean_degree_centrality = np.mean(degree_centrality_values)
max_degree_centrality = np.max(degree_centrality_values)
min_degree_centrality = np.min(degree_centrality_values)
median_degree_centrality = np.median(degree_centrality_values)

print(f"Mean Degree Centrality: {mean_degree_centrality}")
print(f"Max Degree Centrality: {max_degree_centrality}")
print(f"Min Degree Centrality: {min_degree_centrality}")
print(f"Median Degree Centrality: {median_degree_centrality}")

Mean Degree Centrality: 0.0012440267384764253
Max Degree Centrality: 0.1395705521472393
Min Degree Centrality: 0.0005112474437627812
Median Degree Centrality: 0.0005112474437627812

By dropping nodes smaller than the median in degree centrality, the number of node became 88% smaller than the orginal.

In [21]:
import networkx as nx

G = nx.from_pandas_edgelist(nt2, 'source', 'target', ['weight'])

# Exclude nodes with degree centrality below the median
nodes_to_remove = [n for n, centrality in deg_cen.items() if centrality <= median_degree_centrality]
G.remove_nodes_from(nodes_to_remove)

print("Number of nodes:", G.number_of_nodes())
print("Number of edges:", G.number_of_edges())
print("Average degree:", sum(dict(G.degree()).values()) / G.number_of_nodes())

Number of nodes: 229
Number of edges: 659
Average degree: 5.755458515283843

In [22]:
node_weights = {node: sum(weight for _, _, weight in G.edges(node, data='weight')) for node in G.nodes}

top_15_nodes = sorted(node_weights.items(), key=lambda x: x[1], reverse=True)[:15]

for node, weight in top_15_nodes:
    print(f"Node: {node}, Total Weight: {weight}")

Node: IT Services, Total Weight: 237
Node: Data Scientist, Total Weight: 207
Node: Data Engineer, Total Weight: 207
Node: Data Analyst, Total Weight: 206
Node: Staffing & Outsourcing, Total Weight: 172
Node: Computer Hardware & Software, Total Weight: 93
Node: Internet, Total Weight: 92
Node: Enterprise Software & Network Solutions, Total Weight: 82
Node: Senior Data Scientist, Total Weight: 81
Node: Consulting, Total Weight: 79
Node: Health Care Services & Hospitals, Total Weight: 65
Node: Advertising & Marketing, Total Weight: 61
Node: Investment Banking & Asset Management, Total Weight: 42
Node: Senior Data Analyst, Total Weight: 42
Node: Biotech & Pharmaceuticals, Total Weight: 39

## **Visualization (Job + Industry)**

The nodes shown in red in the graph are nodes connected to 'data scientist', which represents another industry that plays an important role in the data science field.

These visualizations are useful for understanding the interactions and importance of data science-related occupations. This will help understand which industry frequently collaborate with data scientists and which roles are central to the data science field.

In [23]:
from pyvis.network import Network

net = Network(notebook=True)


connected_to_data_scientist = set()
connected_to_data_engineer = set()
connected_to_data_analyst = set()

for edge in G.edges(data=True):
    source, target, _ = edge
    if 'Data Scientist' in [source, target]:
        connected_to_data_scientist.update([source, target])
    if 'Data Engineer' in [source, target]:
        connected_to_data_engineer.update([source, target])
    if 'Data Analyst' in [source, target]:
        connected_to_data_analyst.update([source, target])


node_total_weight = {node: sum(weight for _, _, weight in G.edges(node, data='weight')) for node in G.nodes()}


for n in G.nodes():
    color = 'skyblue'
    if n == 'Data Scientist':
        color = 'green'
    elif n in connected_to_data_scientist:
        color = 'red'
    elif n == 'Data Engineer':
        color = 'gold'
    elif n == 'Data Analyst':
        color = 'pink'

    size = 5 + 1.5 * G.degree(n)
    net.add_node(n, label=n, color=color, size=size)


for edge in G.edges(data=True):
    source, target, data = edge
    edge_color = 'lightgray'
    if 'Data Scientist' in [source, target]:
        edge_color = 'green'
    if 'Data Engineer' in [source, target]:
        edge_color = 'gold'
    if 'Data Analyst' in [source, target]:
        edge_color = 'pink'

    net.add_edge(source, target, color=edge_color)

net.show_buttons(filter_=['nodes'])
net.save_graph('JI.html')

Warning: When  cdn_resources is 'local' jupyter notebook has issues displaying graphics on chrome/safari. Use cdn_resources='in_line' or cdn_resources='remote' if you have issues viewing graphics in a notebook.

## **Conclusion**

From the graph, it is evident that the salary range in Data Science is highly varied. Notably, not only data scientists but also data engineers and data analysts exhibit a wide salary range. Of significance is the observation that all three occupations are connected to nodes representing high salaries. Moreover, when the term "data" is included in most job titles, it tends to correspond to higher salary ranges.

One might ask about the industries that predominantly offer these high-paying jobs, which is where the second graph becomes relevant.

Data scientists have the opportunity to work across various industries. As anticipated, the graphs reveal substantial employment in IT services, healthcare, biotech & pharmaceuticals, consulting, staffing & outsourcing, Computer Hardware & Software and other sectors.

Furthermore, the second graph indicates a significant overlap in the industries of data analysts and data engineers, indicating a strong correlation.